/* curriculum vitae */
/* para poder verlo en diferente tipos de pantalla*/
body{
    display: flex;
}

/* las clases se llaman con el punto + el nombre de la clase */
.contenedor{
    border: 1px solid #171717;
    margin: 0 auto;
    width:  70%;
}

.principal{
    background: rgba(143, 143, 144, 0.6);
    padding: 10px;
}

.header{
    display: flex;
}

.nombre{
    margin-left: 40px;
    width: 100%;
}

.titulo{
    border: 1px solid rgba(60, 12, 191, 0.63);
    color: rgb(43, 27, 87);
} 